@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
:root{
    --heading-font: "IM Fell French Canon SC";
    --paragraph-font: Lato, Helvetica, sans-serif; 
}
/*This is the css code for the home page */
body{
    max-width: 1600px;
    text-align: center;
    color: white;
    background-color: black;
    font-family: lato,helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.home-grid{
    display: grid;
    
}
header{
    background-color: #A42212 ;
    font-family: "Im Fell French Canon SC";
    display: grid;
    grid-template-columns: 150px auto;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a{
    text-align: center;
    color: white;
    text-decoration: wavy;
    padding: 90px;
    font-size: 2em;
    margin-top: 10px;
}
nav a:hover{
    background-color: #396E94;
    color: white;
}
.logo{
    width: 250px;
}
#logo_link{
    padding-top: 5px;
    align-self: center;
}

#image-of-me{
    position: relative;
    width: 40%; 
    padding-top: 20px;
    padding-left: 100px;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
footer{
    background-color: #A42212;
    font-family: "Im Fell French Canon SC";
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p{
    font-size: 1.2em;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: white;
    text-decoration: underline;
}
#message-about-me-and-site{
    padding-right: 100px;
}

/*End of css for the home page */

/*This is the css for the portfolio subpage */
#snesc-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#pokemon-cards-img{
   display: block;
   margin-left: auto;
   margin-right: auto;
}
#storyboard-img{
    display: block;
    margin-left: auto;
    margin-right: auto;   
}


